:root {
    --primary-beaver: rgb(158, 127, 102);
    --primary-cod-gray: rgb(17, 17, 17);
    --secondary-mirage: rgb(23, 25, 43);
    --secondary-ebony-clay: rgb(36, 43, 55);
    --secondary-shuttle-gray: rgb(92, 103, 121);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-family: 'Spartan', sans-serif;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8;
    font-weight: 300;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.5;
    font-weight: 700;
}

h3 .long {
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.22;
    font-weight: 700;
}

h3 .short {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2;
    font-weight: 600;
    text-transform: uppercase;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.22;
    font-weight: 400;
    width: 375px;
}

button {
    font-family: 'Spartan', sans-serif;
}

button:hover,
button:focus {
    cursor: pointer;
}

/* Homepage Mobile */
.hero-img {
    position: relative;
}

.hero-text {
    position: absolute;
    width: 327px;
    height: 364px;
    text-align: center;
    top: 12em;
    color: #fff;
    left: 24px;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
}

.hero-subtitle {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 35px;
}

.hero-paragraph {
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 24px;
    font-weight: 300;
}

.hero-button {
    background-color: var(--primary-cod-gray);
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5em 4em;
    letter-spacing: 1px;
    margin-top: 30px;
    font-weight: 600;
}

/* Info-Section */
.info-cards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 327px;
    text-align: center;
    margin-bottom: 80px;
}

.info-cards:first-of-type {
    margin-top: -80px;
}

.info-img {
    -webkit-box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
    z-index: 5;
}

.pattern-divider {
    width: 80px;
    margin: 48px auto 30px auto;
}

.info-titles {
    font-size: 1.8em;
    line-height: 40px;
    margin-bottom: 20px;
}

.info-content {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 15px;
}

/* Menu Section */
.menu-section {
    background-color: var(--primary-cod-gray);
    color: #fff;
    text-align: center;
}

.menu-card {
    width: 327px;
    margin: 0 auto;
}

.menu-title {
    font-size: 1.7em;
    line-height: 40px;
    margin-bottom: 20px;
}

.dish-titles {
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.menu-content {
    font-size: 15px;
    margin-bottom: 80px;
}

.dish-content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    margin-bottom: 60px;
}

/* Events Section */
.events-section {
    text-align: center;
    margin-top: 80px;
}

.event-image {
    -webkit-box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
    margin-bottom: 40px;
}

.event-list {
    list-style: none;
   
}

.event-list-item {
    text-transform: uppercase;
    margin: 1em;
}

.active {
    border-bottom: solid 1px var(--primary-beaver);
    
}